$redColor: #B31F20

@mixin transition($time, $element: all, $easing: ease-in-out)
  -webkit-transition: $element $time $easing
  -moz-transition: $element $time $easing
  -o-transition: $element $time $easing
  transition: $element $time $easing 

@mixin rounded_corner($top-left, $top-right, $bottom-right, $bottom-left)
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left
  border-radius: $top-left $top-right $bottom-right $bottom-left

@mixin box_shadow($x, $y, $spread, $color, $inset: '')
  -webkit-box-shadow: $x $y $spread $color $inset
  -moz-box-shadow: $x $y $spread $color $inset
  box-shadow: $x $y $spread $color $inset

body
  background: url(../images/AtTheForefrontBackground.png)
  padding: 0px
  margin: 0px
  font-family: 'Lucida Sans'

a
  text-decoration: none
  color: black
  @include transition(.3s, all, ease-in)
  opacity: .5
  &:hover
    color: $redColor
    opacity: 1


.clear
  clear: both

.left
  float: left

.right
  float: right


.header
  width: 75%
  height: 209px
  margin: 40px auto 0px auto
  padding: 5px
  @include rounded_corner(5px, 5px, 5px, 5px)
  min-width: 1010px
  font-weight: 100
  position: relative
  .logo
    background: url(../images/AtTheForefrontLogo.png) no-repeat -210px -1px
    height: 209px
    width: 209px
    opacity: .6
  a.logoFull
    background: url(../images/AtTheForefrontLogo.png) no-repeat 0 0
    height: 209px
    width: 209px
    position: relative
    display: block
    right: 209px
    opacity: .1
    @include transition(.4s, opacity)
    &:hover
      opacity: 1

  ul.menu
    list-style-type: none
    text-align: center
    font-size: 1.5em
    position: relative
    top: 150px
    font-weight: light
    z-index: 150
    li
      display: inline
      line-height: 1.9em
      margin-right: 25px
      a
        text-shadow: 1px 1px 1px white

.contentContainer
  padding: 5px
  .content
    width: 75%
    min-width: 1010px
    padding: 0
    background: #bec1bf
    margin: 50px auto 100px auto
    @include rounded_corner(5px, 5px, 5px, 5px)
    @include transition(.4s, all, linear)
    opacity: .7
    &:hover
      opacity: 1
    .sectionHeader
      font-size: 1.3em
      margin-left: 10px
      span
        background: #EFEFEF
        padding: 5px 15px
        color: #555
        border-radius: 4px
        box-shadow: 0 0 5px #222 inset
    .leftColumn
      width: 45%
      padding: 20px
    .rightColumn
      width: 45%
      padding: 20px
      .photo
        opacity: .7
        @include transition(.3s, all, linear)
        &:hover
          opacity: 1
        img
          @include transition(.3s, all, linear)
          border-radius: 2px
          &:hover
            -webkit-box-shadow: 0 1px 4px #222
            -webkit-transform: rotate(.2deg)
      .social
        width: 453px
        margin-top: 20px
        background: #AAA
        padding: 5px 10px
        border-radius: 2px
        .icons
          margin-top: 5px
          width: 250px
          img
            height: 50px
            width: 50px
            margin-right: 50px
            margin-bottom: 10px
        .socialContainer
          width: 160px
          margin-top: 10px


body#about li#aboutnav, body#music li#musicnav, body#photos li#photosnav, body#tour li#tournav, body#contact li#contactnav
  a
    color: $redColor
    opacity: .7
  
