body {
  background: url(../images/AtTheForefrontBackground.png);
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans"; }

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0.5; }
  a:hover {
    color: #b31f20;
    opacity: 1; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.header {
  width: 75%;
  height: 209px;
  margin: 40px auto 0px auto;
  padding: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  min-width: 1010px;
  font-weight: 100;
  position: relative; }
  .header .logo {
    background: url(../images/AtTheForefrontLogo.png) no-repeat -210px -1px;
    height: 209px;
    width: 209px;
    opacity: 0.6; }
  .header a.logoFull {
    background: url(../images/AtTheForefrontLogo.png) no-repeat 0 0;
    height: 209px;
    width: 209px;
    position: relative;
    display: block;
    right: 209px;
    opacity: 0.1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out; }
    .header a.logoFull:hover {
      opacity: 1; }
  .header ul.menu {
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 150px;
    font-weight: light;
    z-index: 150; }
    .header ul.menu li {
      display: inline;
      line-height: 1.9em;
      margin-right: 25px; }
      .header ul.menu li a {
        text-shadow: 1px 1px 1px white; }

.contentContainer {
  padding: 5px; }
  .contentContainer .content {
    width: 75%;
    min-width: 1010px;
    padding: 0;
    background: #bec1bf;
    margin: 50px auto 100px auto;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    opacity: 0.7; }
    .contentContainer .content:hover {
      opacity: 1; }
    .contentContainer .content .sectionHeader {
      font-size: 1.3em;
      margin-left: 10px; }
      .contentContainer .content .sectionHeader span {
        background: #efefef;
        padding: 5px 15px;
        color: #555555;
        border-radius: 4px;
        box-shadow: 0 0 5px #222222 inset; }
    .contentContainer .content .leftColumn {
      width: 45%;
      padding: 20px; }
    .contentContainer .content .rightColumn {
      width: 45%;
      padding: 20px; }
      .contentContainer .content .rightColumn .photo {
        opacity: 0.7;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .contentContainer .content .rightColumn .photo:hover {
          opacity: 1; }
        .contentContainer .content .rightColumn .photo img {
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          border-radius: 2px; }
          .contentContainer .content .rightColumn .photo img:hover {
            -webkit-box-shadow: 0 1px 4px #222222;
            -webkit-transform: rotate(0.2deg); }
      .contentContainer .content .rightColumn .social {
        width: 453px;
        margin-top: 20px;
        background: #aaaaaa;
        padding: 5px 10px;
        border-radius: 2px; }
        .contentContainer .content .rightColumn .social .icons {
          margin-top: 5px;
          width: 250px; }
          .contentContainer .content .rightColumn .social .icons img {
            height: 50px;
            width: 50px;
            margin-right: 50px;
            margin-bottom: 10px; }
        .contentContainer .content .rightColumn .social .socialContainer {
          width: 160px;
          margin-top: 10px; }

body#about li#aboutnav a, body#music li#musicnav a, body#photos li#photosnav a, body#tour li#tournav a, body#contact li#contactnav a {
  color: #b31f20;
  opacity: 0.7; }
