.header
  
  .logo.left
  = link_to '', root_path, :class => 'logoFull left'

  %ul.menu.right
    %li#aboutnav=link_to 'About', about_path
    %li#musicnav=link_to 'Music', music_path
    %li#photosnav=link_to 'Photos', photos_path
    %li#tournav=link_to 'Tour', tour_path  
    %li#contactnav= link_to 'Contact', contact_path
    

  